{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
	<div class="hero-white">
		<div class="header clearfix">
			{% include 'includes/inc_menu.html' %}
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="details">
		<div class="links clearfix">
			{% include 'includes/inc_products_menu.html' %}
		</div>

		<div class="related">
			<div class="related-products clearfix">
				{% for product in products %}
					<div class="block">
						<a href="{% url 'main:product' product.pk %}"><img src="/media/{{ product.image }}" alt="">
							<div class="text">
								<img src="{% static 'img/icon-hover.png' %}" alt="img">
								<h4>{{ product.name }}</h4>
								<p>{{ product.description }}</p>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}