<ul class="menu">
    {% for link in menu %}
        <li>
            {% if link.href == 'main:products' %}
                <a href="{% url link.href 0 %}"
            {% else %}
                <a href="{% url link.href %}"
            {% endif %}
                class = "{% if request.resolver_match.url_name == link.url %} active {% endif %}">
            {{ link.name }}
            </a>
        </li>
    {% endfor %}
    {% if user.is_authenticated %}
        <li>
            <a href="{% url 'auth:edit' %}">
                {{ user.first_name|default:"пользователь"|capfirst }}
            </a>
        </li>
        <li>
            <a href="{% url 'auth:logout' %}">
                выйти
            </a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'auth:login' %}">
                войти
            </a>
        </li>
    {% endif %}
</ul>